asgiref
Babel
certifi
charset-normalizer
Django
django-autocomplete-light
django-htmx
django-jalali
django-sslserver
gunicorn
idna
jalali_core
jdatetime
pymysql
packaging
pillow
pip
psycopg2-binary
requests
sqlparse
tzdata
urllib3
waitress
whitenoise
celery
python-decouple
unidecode
medianasms
kavenegar