
{% load static %}
{% block content %}
<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
    <html lang="fa">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Signup </title>

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link href="{% static 'asset/vendor/scss/reboot.css' %}" rel="stylesheet">        
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body style="direction:rtl">
        
        <section class="container forms"  style="height:100vh;">
    <h1 style="color:white;">شما به حساب کاربری اینستاگرام خود با موفقیت متصل شدید.</h1>
    <a style="background-color:white; padding:5px; border:1px; border-radius:8px;"  href="{% url 'account-info' %}">پروفایل</a>
</section>

<!-- JavaScript -->
<script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>
{% endblock %}
