{% extends 'base.html' %}

{% load static %}
{% block body %}
<div class="about" >
    <h3> درباره ما</h3>
    <p>
به این شاپینگ خوش آمدید، مقصد نهایی شما برای کشف و خرید از مجموعه‌ای متنوع از فروشگاه‌های اینستاگرامی! 
    </p>
    <p>
این پلتفرم طراحی شده تا تجربه خرید بی‌نظیری را به شما ارائه دهد، که شامل محصولات منحصر به فرد و شیک از فروشگاه‌های محبوب اینستاگرام است.
    </p>
    <p>
 ما قدرت اینستاگرام را در تبدیل کسب‌وکارهای کوچک و برندهای منحصربه‌فرد به پدیده‌هایی جهانی درک می‌کنیم. به همین دلیل، پلتفرمی ایجاد کرده‌ایم که فروشگاه‌های اینستاگرامی می‌توانند در آن شکوفا شوند و مشتریان به راحتی محصولات مورد علاقه خود را پیدا کنند.
در این شاپینگ، ما به توانمندسازی کسب‌وکارهای کوچک اعتقاد داریم و ابزارهای لازم برای موفقیت را در اختیار آنها قرار می‌دهیم. ما به هر فروشگاه یک زیردامنه اختصاصی و یک پنل جامع برای معرفی محصولات، مدیریت موجودی و فروش یکپارچه ارائه می‌دهیم. هدف ما ایجاد یک بازار آنلاین پویا است که فروشندگان را با طیف گسترده‌ای از مشتریان متصل می‌کند و تجربه خرید را برای همه بهبود می‌بخشد.
    </p>
    <h4>
چگونه ثبت نام کنید و فروشگاه خود را ایجاد کنید
    </h4>
<h4>
مرحله 1: ثبت نام
</h4>
    <p>
        •	به صفحه ثبت نام ما مراجعه کنید و با استفاده از ایمیل خود ثبت نام کنید.
    </p>
    <h4>
مرحله 2: تکمیل پروفایل
    </h4>
    <p>
•	جزئیات فروشگاه خود را در پروفایل خود پر کنید، از جمله نام کسب‌وکار، توضیحات کوتاه و نام کاربری اینستاگرام. این به ما کمک می‌کند تا فروشگاه شما را تأیید و احراز هویت کنیم.
    </p>
    <h4>
مرحله 3: تنظیم زیردامنه
    </h4>
    <p>
•	توجه داشته باشید که نام فروشگاه شما به عنوان لینک فروشکاه شما استفاده خواهد شد.
به عنوان مثال اگر نام فروشگاه خود را parvane  انتخاب کنید فروشگاه آنلاین شخصی‌ شما (inshopping.ir/parvane) خواهد بود.
    </p>
    <h4>
مرحله 4: تکمیل پنل فروشگاه
    </h4>
    <p>
•	از پنل فروشگاه ما برای بارگذاری محصولات، تنظیم قیمت‌ها و نوشتن توضیحات دقیق استفاده کنید. همچنین می‌توانید موجودی را مدیریت کنید، سفارش‌ها را پیگیری کنید و گزارشات فروش روزانه, هفتگی و ماهانه خود را مشاهده کنید.
    </p>
    <h4>
مرحله 5: راه‌اندازی و ترویج
    </h4>
    <p>
•	پس از تنظیم فروشگاه و معرفی محصولات فروش شما آغاز می شود. لینک فروشگاه جدید خود را با دنبال‌کنندگان در اینستاگرام و دیگر شبکه‌های اجتماعی به اشتراک بگذارید تا ترافیک بیشتری به فروشگاه شما جذب شود و مزیت سفارش و خرید آنلاین را به مشتریان خود ارائه دهید.
    </p>


</div>
{%endblock%}    