{% extends 'base.html' %}

{% load static %}
{% block body %}
<div class="about" >
    <h3> درباره ما</h3>
    <p>
به این شاپینگ خوش آمدید، مقصد نهایی شما برای کشف و خرید از مجموعه‌ای متنوع از فروشگاه‌های اینستاگرامی! 
    </p>
    <p>
این پلتفرم طراحی شده تا تجربه خرید بی‌نظیری را به شما ارائه دهد، که شامل محصولات منحصر به فرد و شیک از فروشگاه‌های محبوب اینستاگرام است. ما در "این شاپینگ" معتقدیم که تجربه خرید آنلاین باید هم ساده باشد و هم لذت‌بخش. هدف ما ایجاد پلی بین کاربران و فروشگاه‌های اینستاگرامی معتبر است تا شما بتوانید با اطمینان و آرامش، محصولات مورد نیاز خود را پیدا کرده و خرید کنید.


    </p>
    <p>
 ما قدرت اینستاگرام را در تبدیل کسب‌وکارهای کوچک و برندهای منحصربه‌فرد به پدیده‌هایی جهانی درک می‌کنیم. به همین دلیل، پلتفرمی ایجاد کرده‌ایم که فروشگاه‌های اینستاگرامی می‌توانند در آن شکوفا شوند و مشتریان به راحتی محصولات مورد علاقه خود را پیدا کنند.
در این شاپینگ، ما به توانمندسازی کسب‌وکارهای کوچک اعتقاد داریم و ابزارهای لازم برای موفقیت را در اختیار آنها قرار می‌دهیم. ما به هر فروشگاه یک زیردامنه اختصاصی و یک پنل جامع برای معرفی محصولات، مدیریت موجودی و فروش یکپارچه ارائه می‌دهیم. هدف ما ایجاد یک بازار آنلاین پویا است که فروشندگان را با طیف گسترده‌ای از مشتریان متصل می‌کند و تجربه خرید را برای همه بهبود می‌بخشد.
    </p>
    <h4>
        داستان ما

    </h4>

    <p>
        "این شاپینگ" از اشتیاق به خرید آنلاین و نیاز به دسترسی آسان و امن به فروشگاه‌های اینستاگرامی به وجود آمد. با رشد روزافزون فروشگاه‌های آنلاین و به ویژه فروشگاه‌های اینستاگرامی، نیاز به یک پلتفرم معتبر برای اتصال مشتریان به این فروشگاه‌ها حس شد.
    </p>
    
    <p>
        تیم ما متشکل از افرادی است که با تجربه در حوزه دیجیتال مارکتینگ، فناوری اطلاعات، و تجارت الکترونیک، توانسته‌اند پلتفرمی را ایجاد کنند که بهترین تجربه خرید آنلاین را برای مشتریان و فروشندگان فراهم می‌کند. هدف اصلی ما این است که شما با خیالی آسوده و بدون نگرانی، از فروشگاه‌های محبوب خود خرید کنید و از کیفیت محصولات لذت ببرید.
    </p>
    <h4>
        چرا "این شاپینگ"؟
    </h4>
  
    <p>راحتی و سهولت: "این شاپینگ" فرآیند خرید را برای شما ساده کرده است. شما می‌توانید با چند کلیک به هزاران محصول در آنلاین شاپ های اینستاگرام دسترسی پیدا کنید، تنها زمان اندکی برای خرید کالای مورد نیاز خود صرف کنید و از صرف زمانی طولانی برای استعلام کالا و تماس با آنلاین شاپ مورد نظر خلاص شوید.</p>
    
    <p>
        پشتیبانی قوی: تیم پشتیبانی ما همیشه در دسترس است تا به سوالات شما پاسخ دهد و شما را در هر مرحله از خرید همراهی کند. اگر به کمک نیاز دارید، می‌توانید به راحتی با ما تماس بگیرید.
    </p>
    <h4>
        ماموریت و چشم‌انداز ما
    </h4>
    <p>ماموریت ما این است که خرید از فروشگاه‌های اینستاگرامی را برای همه کاربران امن‌تر، آسان‌تر و لذت‌بخش‌تر کنیم. ما با ارائه ابزارها و خدمات متنوع، به فروشگاه‌ها کمک می‌کنیم تا فروش خود را افزایش دهند و به خریداران کمک می‌کنیم تا با اطمینان بیشتری خرید کنند.
    </p>
    <h4>
        ما در کنار شما هستیم!
    </h4>
    <p>ما در "این شاپینگ" همیشه به دنبال راه‌هایی برای بهبود تجربه خرید شما هستیم. ما از شما دعوت می‌کنیم تا به ما بپیوندید و از خرید آنلاین لذت ببرید. با ما همراه باشید و از بهترین‌های فروشگاه‌های اینستاگرامی بهره‌مند شوید!
    </p>



</div>
{%endblock%}    