 <!-- ======= About Section ======= -->
 {% load static %}
 {% load i18n %}
 <section  class="about"  style="padding:20px;">
  

 
    <div class="section-title" style="border:1px solid #44334460; border-radius:5px; margin:10px; padding:5%;">
     
        <h2>اطلاعات کاربر</h2>
        <ul id="outerContainer" style="padding-left:0;">
           
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>نام:</strong> <span>{{ user.firstname }}</span></li>
                            <li><strong>نام خانوادگی:</strong> <span>{{ user.lastname }}</span></li>
                            <li><strong>تلفن تماس:</strong> <span>{{ user.phone }}</span></li>
                            <li><strong>نام کاربری:</strong> <span>{{ user.username }}</span></li>
                            <li><strong> ایمیل:</strong> <span>{{ user.email }}</span></li>
                        </ul>
                    </div>
                    <div>
                        
                    </div>
                </div>
          
        </ul>
    </div>


    

      {% if shop_instance %}
      <div class="section-title" style="border:1px solid #44334460; border-radius:5px; margin:10px; padding:5%;">
        <h2> فروشگاه</h2>
      
     
    
            <ul id="outerContainer">
             
              <div class="row">
                {% if shop.image %}
                <div class="col-lg-4" data-aos="fade-right">
                  <img src="{{shop_instance.image.url}}" style="width:200px; height:200px;" alt="">
                </div> 
                {% endif%}
              <h3>{{shop_instance.store_name}}</h3>
              <p class="fst-italic">
                {{shop_instance.description}}
              </p>
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li> <strong>اینستاگرام:</strong> <span>{{shop_instance.instagramId}}</span></li>
                    <li> <strong>ایمیل:</strong> <span>{{shop_instance.email}}</span></li>
                    <li><strong>تلفن تماس:</strong> <span>{{shop_instance.contact}}</span></li>
                    <li><strong>آدرس:</strong> <span>{{shop_instance.address}}</span></li>
                    <li><strong>هزینه ارسال محصولات:</strong> <span>{{shop_instance.delivery_cost}}</span></li>
                  </ul>
                
                </div>   
                <div >
                  <a href="{% url 'editshop' pk=shop_instance.pk %}" >
                  <div style="margin:5%;" class="btn-style" ><button id="actionButton"> <span class="btn-text">ویرایش</span><div class="loader" id="loader"></div></button></div>
                  </a>
                
                </div>  
              </div> 
           
              
            </ul> 
            
            {% endif %}
           {% if  not shop_instance %}
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
              <p>در صورت تمایل به داشتن فروشگاه آنلاین خود بر روی دکمه زیر کلیک کنید و فرم مربوطه را پر کنید.</p>
              <a href="{% url 'create_shop' %}"  >
              <div class="btn-style" ><button>فروشگاه خود را بسازید</button></div>
              </a>
            </div>  

            {% endif %} 
            
           
    </div>
 
</section><!-- End About Section -->

