<div style="height:auto;">
<div class="forms">
    <form class="inputs" hx-post="{% url 'bankaccount' %}" hx-swap="outerHTML"  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-trigger='submit' >
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
          <label for="{{ field.id_for_label }}">
              {{ field.label }}
              {% if field.field.required %}
                  <span style="color: red;">*</span>  <!-- Add asterisk for required fields -->
              {% endif %}
          </label>
          {{ field }}
          {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
      </div>
  {% endfor %}
     
      <button type="submit" id="submitButton"  >ذخیره</button>
        
      <div id="loader"></div>
    </form>

</div>  
</div>