{% extends 'base.html' %} 

{% load static %}
{% block body %} 
<head>
   <title>{{ category.title }}</title>
   <meta name="description" content="{{ category.meta_description }}"> <!-- اگر متا دیسکریپشن دارید -->
   <meta name="keywords" content="{{ category.seo_keywords }}">
</head>
      <!-- fashion section start -->
      <div class="fashion_section">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="subcat-div" >
               <div class="carousel-item active">
                  <div class="container">
                     
                     <h3  style="background-color:#f5ba01; color:black; margin:auto; width:90%; padding:10px; border:1px; border-radius:8px; text-align:center; ">{{ category }}</h3>
                     <ul>
                        
                            
                        
                     <div class="fashion_section_2">
                        <div class="row" style="justify-content: center;">
                           {% for subcategory in subcategories %}
                           <div class="most-sellers" >
                              <li>
                                 <a href="{% url 'subcategory' subcategory_slug=subcategory.slug %}">
                              <div class="box_main" >
                                 
                                 
                                 {% if subcategory.image %}
                                 <div class="tshirt_img"><img style="height:200px;" src="{{subcategory.image.url}}"></div>
                                   
                                 {% else %}
                                 <div class="tshirt_img"><img style="height:200px;" src="{% static 'images/tshirt-img.png' %}"></div>
                                   
                                 {% endif %}
                                 <h4 class="shirt_text" style="text-align:center;">{{ subcategory.subname }}</h4>
                                 
                              </div>
                           </a>
                           </li>
                           </div>
                        
                           
                           {% endfor %}
                           </ul>
                        </div>
                     </div>
                  </div>
                  {% if category.title and category.content%}
                  <div class="cat-seo">
                     <h5>درباره {{category.title}}</h5>
                     <p>{{category.content}}</p>
                  </div> 
                  {%endif%}
               </div>
               
            </div>
           
         </div>
      </div>
      <!-- fashion section end -->
     {% endblock %}