{% load static %}


  <a class="back-btn" href="#outerContainer"  hx-get="{% url 'account-info' %}" hx-target="#outerContainer"><img style="width:20px; height:20px; margin:20px 20px 0 0;" src="{% static 'images/back-icon.png' %}"></a>
    
    <form class="inputs" action="{% url 'create_shop' %}" method="post" enctype="multipart/form-data" >
      <div class="forms" style="height:auto;">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.field.required %}
                        <span style="color: red;">*</span>  <!-- Add asterisk for required fields -->
                    {% endif %}
                </label>
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %}
        <p>توجه : هزینه ارسال یکبار برای تمام محصولات شما اعمال می شود.(هزینه به تومان)</p>
        <button type="submit" class="btn btn-primary">ذخیره</button>
    </div>
    </form>
