{% load i18n %}
{% load jformat %}
{% load humanize %}
{% load custom_filters %}

<section id="dashboard" class="about" style="padding:15px;">
  <div id="outerContainer" class="container">
    <div class="section-title">
      <a hx-get="{% url 'reports' %}" hx-target="#outerContainer"  hx-push-url="true">
        <div class="btn-style" ><button>گزارشات فروش</button></div> 
      </a> 
      <br>
      <h2>{% trans 'Orders Registered' %}</h2>
      <ul class="orders-registered">
        {% for order in orders_registered %}
        <li>
          <a href="#" hx-get="{% url 'order-registered-details' pk=order.pk %}" hx-target="#outerContainer" hx-swap="innerHTML">
            {{ order.created_at|jformat:"%Y/%m/%d" }}
          </a>
          {% if order.delivery.status %}
          <button style="background-color:#443344; color:white; border:1px solid #443344; border-radius:5px; padding:5px; margin:auto;">
            <a href="#" hx-get="{% url 'order_delivery' order_id=order.id %}" hx-target="#outerContainer" hx-swap="innerHTML">
              {% trans order.delivery.status %}
            </a>
          </button>
          <p>کد رهگیری پست:{{order.delivery.tracking_number}}</p>
          {% else %}
          <button style="background-color:#443344; color:white; border:1px solid #443344; border-radius:5px; padding:5px; margin:auto;">
            <a href="#" hx-get="{% url 'order_delivery' order_id=order.id %}" hx-target="#outerContainer" hx-swap="innerHTML">وضعیت ارسال</a>
          </button>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      <br>
      <br>

     
      
    </div>
  </div>
</section>


