{% load static %}
<a class="back-btn" href="#outerContainer"  hx-get="{% url 'account-info' %}" hx-target="#outerContainer"><img style="width:20px; height:20px; margin:20px 20px 0 0;" src="{% static 'images/back-icon.png' %}"></a>
<div class="forms">
    <form class="inputs" hx-post="{% url 'editshop' pk=shop_instance.pk %}" hx-swap="outerHTML"  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-trigger='submit' >
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">
                {{ field.label }}
                {% if field.field.required %}
                    <span style="color: red;">*</span>  <!-- Add asterisk for required fields -->
                {% endif %}
            </label>
            {{ field }}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
    {% endfor %}
        <a href="{% url instagram_login %}">Connect Instagram</a>
        <button type="submit">ذخیره تغییرات</button>
    </form>
</div>

<script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
<script src="{% static 'asset/js/main.js' %}"></script>