{% extends 'base.html' %}

{% load static %}
{% block body %}
<div class="about" >
    <h3 style="color:#f5ba01;">صفحه راهنما: خرید امن از سایت "این شاپینگ" برای خریداران و فروشندگان </h3>
    <p>خوش‌آمدید به راهنمای جامع استفاده از سایت "این شاپینگ"، مرجع خرید و فروش آنلاین از فروشگاه‌های معتبر اینستاگرامی. در این راهنما، به شما نشان می‌دهیم چگونه به عنوان یک خریدار به‌راحتی خرید کنید و به عنوان یک فروشنده فروش خود را افزایش دهید.
    </p>
    <h3>راهنمای فروشندگان: چگونه در "این شاپینگ" فروش خود را آغاز کنیم؟</h3>
    <p>اگر در اینستاگرام آنلاین شاپ و فروشگاه اینستاگرامی دارید، "این شاپینگ" ابزارهای قدرتمندی را برای افزایش فروش و جذب مشتریان بیشتر در اختیار شما قرار می‌دهد.
    </p>
    <h4>۱. ثبت‌نام و ایجاد فروشگاه
    </h4>
    <p> برای شروع، در سایت "این شاپینگ" به عنوان فروشنده ابتدا ثبت‌نام کنید. سپس وارد پنل خود شوید و ثبت نام خود را تکمیل کنید. سپس با وارد کردن اطلاعات فروشگاه مانند نام, توضیحات، آدرس اینستاگرام، و لوگو، فروشگاه خود را ایجاد کنید. 
       	توجه داشته باشید که نام فروشگاه شما به عنوان لینک فروشگاه شما استفاده خواهد شد.
        به عنوان مثال اگر نام فروشگاه خود را parvane  انتخاب کنید فروشگاه آنلاین شخصی‌ شما (inshopping.ir/parvane) خواهد بود.
           
    </p>
    <h4>۲. افزودن محصولات و مدیریت موجودی
    </h4>
    <p>از پنل مدیریت فروشگاه خود در قسمت محصولات، محصولات جدید را اضافه کنید. برای هر محصول، توضیحات، قیمت و تصاویر با کیفیت وارد کنید. همچنین، موجودی محصولات را به‌روز نگه دارید تا مشتریان به اطلاعات دقیق دسترسی داشته باشند.
    </p>
    <h4>۳. تأیید فروشگاه و محصولات
    </h4>
    <p>بعد از تایید شدن فروشگاه شما و همچنین محصولی که معرفی می کنید از سمت این شاپینگ , می توانید فروشگاه خود را در قسمت فروشگاه من مشاهده کنید.
    </p>
    <h4>۴. دریافت سفارشات و پردازش آنها
    </h4>
    <p>سفارشات جدید را در پنل مدیریت مشاهده کنید. محصولات را بسته‌بندی کرده و برای مشتریان ارسال کنید. پیگیری وضعیت ارسال محصولات نیز از طریق پنل امکان‌پذیر است.
    
    </p>
    <h4>۵. تسویه حساب
    </h4>
    <p>وبسایت این شاپینک متعهد می باشد که حداکثر ۷۲ ساعت بعد از هر سفارش از فروشگاه شما , تسویه حساب کامل را با فروشنده داشته باشد. لذا, بعد از ساخت فروشگاه خود به قسمت مالی در پنل خود مراجعه کرده و مشخصات حساب بانکی خود را تعریف کنید.
    </p>
    <h4>۶. تحلیل فروش و دریافت گزارش‌ها
    </h4>
    <p>از بخش گزارش‌ها در قسمت داشبورد، اطلاعات جامعی درباره میزان فروش روزانه, هفتگی و ماهانه، تعداد سفارشات و محصولات پرفروش دریافت کنید. این گزارش‌ها به شما کمک می‌کنند تا تصمیم‌های بهتری برای بهبود استراتژی فروش خود بگیرید
    </p>
    <br>
    <h3>راهنمای خریداران: چگونه از "این شاپینگ" خرید کنیم؟
    </h3>
    <p>"این شاپینگ" یک پلتفرم امن و راحت برای خرید آنلاین از فروشگاه‌های اینستاگرامی است. در اینجا مراحل خرید به طور کامل توضیح داده شده است:
    </p>
    <h4>۱. جستجوی محصولات و فروشگاه‌ها
    </h4>
    <p>از نوار جستجو در بالای صفحه استفاده کنید تا فروشگاه یا محصول مورد نظر خود را پیدا کنید.
    </p>
    <h4>۲. بررسی اطلاعات فروشگاه و محصولات
    </h4>
    <p> با کلیک بر روی نام فروشگاه، به صفحه اختصاصی آن دسترسی پیدا کنید و جزئیات فروشنده و محصولات موجود را مشاهده کنید. 
    </p>
    <h4>۳. افزودن به سبد خرید و تکمیل سفارش
    </h4>
    <p> پس از انتخاب محصولات مورد نظر، با کلیک روی "افزودن به سبد خرید"، محصولات را به سبد خرید اضافه کنید. سپس روی "تکمیل خرید" کلیک کنید و به صفحه پرداخت امن منتقل شوید. توجه داشته باشید که در این شاپینگ هر فروشگاه،سبد خرید اختصاصی خود را دارد. در نتیجه نمی توانید در یک سفارش از چندین فروشگاه متفاوت خرید کنید.
    </p>
    <h4>۴. پیگیری سفارشات
    </h4>
    <p>وارد حساب کاربری خود شوید و از بخش "سفارشات من" وضعیت سفارشات خود را بررسی کنید. در صورت نیاز، با تیم پشتیبانی تماس بگیرید.
    </p>
    <br>
    <p>چه به عنوان خریدار و چه به عنوان فروشنده، "این شاپینگ" پلتفرمی امن و قابل اعتماد برای تجربه‌ای بی‌نظیر از خرید و فروش آنلاین است. با استفاده از این راهنما، به راحتی می‌توانید از تمامی امکانات وبسایت استفاده کنید و کسب‌وکار خود را به سطح بالاتری برسانید.

        سوال یا نیاز به کمک دارید؟ با تیم پشتیبانی ما تماس بگیرید!
    </p>
   
</div>
{% endblock %}  