{% extends 'base.html' %} 
{% load i18n %}
{% load static %}
{% block body %} 
{% load custom_filters %}
<head>
   <style>
    
     
     .show {
         opacity: 1; /* نمایش بنر */
         transform: translateY(0); /* بازگشت به موقعیت */
     }
     

   </style>
</head>      
         <!-- header section end -->
         <!-- banner section start -->
         <div class="banner_section layout_padding">
            <div class="container">
               <div id="my_slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="row" style="float:right">
                           <div class="col-sm-12" >
                              
                             
                           </div>
                        </div>
                     </div>
                     
                    
                  </div>
                 
               </div>
            </div>
         </div>
         <!-- banner section end -->
      </div>
      <!-- banner bg main end -->
       <!-- jewellery  section start -->
       <div class="jewellery_section" style="background-color: #f0f0f0;">
         <div style="justify-content:center; display:flex;">
         <div id="custom-banner" class="custom-banner">
          برترین آنلاین شاپ های اینستاگرام!
        </div>
        <div id="discount-banner" style="color:#f5ba01;" class="custom-banner" style="display: none;">
         کالاهای خاص را اینجا پیدا کنید !
       </div>
      </div>
         
         <div id="jewellery_main_slider" class="carousel slide" data-ride="carousel" style="line-height:0.5 ; border:1px; border-radius:8px; width: 99%; margin: auto; background-color: white; border: 1px; borer-radius: 8px; ">
            <div class="carousel-inner">
              
               <div class="carousel-item active">
                  <div class="container">
                     
                    
                     <div class="fashion_section_2">
                        
                        <div class="row">
                           <div id="shopCarousel" class="carousel slide" data-bs-ride="carousel">
                              <div class="carousel-inner">
                                  {% for chunk in shop_list|chunked:4 %} <!-- Default to 4, but JavaScript will handle resizing -->
                                      <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                          <div class="container">
                                              <div class="fashion_section_2">
                                                  <div class="row shop-row">
                                                      {% for shop in chunk %}
                                                          <a href="{% url 'storepage' store_name=shop.store_name %}">
                                                              <div class="col-lg-3 col-md-4 col-sm-6" style="max-width:25%;">
                                                                  <div class="box-shop">
                                                                      <div>
                                                                          <img src="{{ shop.image.url }}" alt="{{ shop.store_name }}">
                                                                      </div>
                                                                      <h4 style="font-size:12px; text-align:center; margin-right:0;" class="shirt_text">
                                                                          {{ shop.store_name }}
                                                                      </h4>
                                                                  </div>
                                                              </div>
                                                          </a>
                                                      {% endfor %}
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  {% endfor %}
                              </div>
                           
                          </div>
                          
                           
                           
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     
                     <div class="fashion_section_2">
                        <div class="row">
                           {% for shop in shop_list %}
                           <a href="{% url 'storepage' store_name=shop.store_name %}">
                               <div class="col-lg-4 col-sm-4" style="max-width:12%;">
                                   <div class="box-shop">
                                       
                                       <div >
                                           <img src="{{ shop.image.url }}" alt="{{ shop.store_name }}">
                                           
                                       </div>
                                       <h4 style="font-size:12px; text-align:center; margin-right:0; " class="shirt_text">{{ shop.store_name }}</h4>
                                   </div>
                               </div>
                           </a>
                       {% endfor %}
                           
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     
                     <div class="fashion_section_2">
                        <div class="row">
                           <div id="shopCarousel" class="carousel slide" data-ride="carousel">
                              <div class="carousel-inner">
                                  {% for chunk in shop_chunks %}
                                      <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                          <div class="container">
                                              <div class="row justify-content-center">
                                                  {% for shop in chunk %}
                                                      <a href="{% url 'storepage' store_name=shop.store_name %}" class="col-lg-1 col-md-3 col-sm-4 col-4 d-flex flex-column align-items-center">
                                                          <div class="box-shop">
                                                              <img src="{{ shop.image.url }}" alt="{{ shop.store_name }}" class="img-fluid">
                                                              <h4 class="shirt_text text-center" style="font-size:12px; margin-top:5px;">
                                                                  {{ shop.store_name }}
                                                              </h4>
                                                          </div>
                                                      </a>
                                                  {% endfor %}
                                              </div>
                                          </div>
                                      </div>
                                  {% endfor %}
                              </div>
                             
                          </div>
                          
                           
                        </div>
                     </div>
                  </div>
               </div>
            </div>
       <br>
       <br>

      
      <!-- electronic section start -->
      <div class="fashion_section">
         <div id="electronic_main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" >
               <div class="carousel-item active" style="margin-top:3px;">
                  <h2 class="fashion_taital" > خرید بر اساس دسته بندی</h2>
                  <div style="margin:auto; padding:2%; background-color: white; border: 1px; border-radius: 8px;  ">
                     
                     <div class="fashion_section_2" style="display:flex;  overflow-x: auto;;">
                        
                       
                           {% for subcategory in categories %}
                           <a class="cat-link" href="{% url 'category' category_slug=subcategory.slug %}">

                           <div >
                              <li>
                              <div class="cat-container" style="text-align:center; margin:5px;">
                                 
                                 {% if subcategory.image %}
                                 <div class="cat-img"  style="text-align:center;"  ><img  src="{{subcategory.image.url}}"></div>
                                 
                                 {% else %}
                                 <div style="text-align:center;  " ><img style="height:100px;" src="{% static 'images/tshirt-img.png' %}"></div>
                                 
                                 {% endif %}
                                 <h4 style="font-size:14px; margin-top:3px;" class="shirt_text">
                                    {{ subcategory.name }}
                                </h4>
                              </div>
                           </li>
                           </div>
                           </a>
                           {% endfor %}
                        </div>   
                     </div>
             </div>

             <div class="banner2" >
               <div class="banner2-div" >
               <img src="{% static 'images/main1.png' %}">
             
               </div>
               
               <div class="banner2-text" >
                  <h3 >هر آنلاین شاپ, یک وبسایت فروش</h3>
                  <p >برای ساختن فروشگاه خود در این شاپینگ و اتصال آن به 
                  
                  آنلاین شاپ خود در اینستاگرام و
                     ارتقای کیفیت فروش خود به  
                   حساب کاربری
                     خود بروید و فروشگاه خود را تعریف کنید.
                  </p>
                  <button class="banner2-btn" >
                     <a href="{% url 'signup' %}" >
                     عضویت
                     </a>
                  </button>
                  <button style="background-color: #f5ba01; margin-right:10px;" class="banner2-btn" >
                     <a href="{% url 'guid' %}" >
                     بیشتر
                     </a>
                  </button>
               </div>
             </div>


                  <div class="main-list">
                  
                  
                     <h2  class="fashion_taital"> پیشنهاد ما</h2>
                     
                     <div class="fashion_section_2" style=" background-color: #f0f0f0;">
                        <div class="row">
                           {%for product in products %}
                           <div class="most-sellers">
                           <a href="{% url 'singleproductpage' store_name=product.shop.store_name product_pk=product.pk %}">
                              <div class="box_main">
                                 <div class="electronic_img"><img  src="{{product.image.url}}"></div>
                                 <h4 class="shirt_text">{{product.name}}</h4>
                                 {% if product.discount > 0 %}
                                 <div style="text-align: right;">
                                 <del class="price_del"> <span > {{product.price|custom_price_format }} تومان</span></del>
                                
                                 <span class="price_text"> {{ product.final_price|custom_price_format }} تومان <p style="margin: auto; margin-right: 6px; max-width: 20%; background-color:black; border-radius:50%; padding:5px; color:white;">{{product.discount|custom_price_format}}% </p></span>
                                 </div>
                                 {%else%}
                                  <p class="price_text"> <span > {{product.price|custom_price_format }} تومان</span></p>
                                 {% endif %}
                                 
                              </div>
                           </a>
                           </div>
                           {%endfor%}
                          
                        </div>
                     </div>
                  </div>
               </div>
               
               
            </div>
            
         </div>
      </div>
      <!-- electronic section end -->
     
           
         </div>
      </div>
      <!-- jewellery  section end -->
     


    <script>
      document.addEventListener("DOMContentLoaded", function() {
         const customBanner = document.getElementById("custom-banner");
         const discountBanner = document.getElementById("discount-banner");
         
         // Show the first banner initially
         customBanner.style.display = "block";
         discountBanner.style.display = "none";
         
         setInterval(() => {
             // Toggle visibility
             if (customBanner.style.display === "block") {
                 customBanner.style.display = "none";
                 discountBanner.style.display = "block";
             } else {
                 customBanner.style.display = "block";
                 discountBanner.style.display = "none";
             }
         }, 1000); // Change every 2 seconds
     });
     
   </script>     
{% endblock %}  

