{% load i18n %}
{% load static %}
{% load jformat %}
{% load custom_filters %}

<a class="back-btn" href="#" hx-get="{% url 'dashboard' %}" hx-target="#outerContainer">
    <img style="width:20px; height:20px; margin:20px 20px 0 0;" src="{% static 'images/back-icon.png' %}">
</a>
<div style="padding:4%; height:100vh;">
    {% if orders_registered %}
        <!-- Assuming orders_registered is a queryset of OrderItem objects -->
        <h6>{{ orders_registered.first.order.created_at|jformat:"%Y/%m/%d" }}</h6>
        <h6> مجموع خرید : {{ orders_registered.first.order.total_price|custom_price_format   }} تومان</h6>
        <h6>نام خریدار : {{ orders_registered.first.order.account.firstname}} {{ orders_registered.first.order.account.lastname}}</h6>
        
        <h6>ایمیل خریدار :{{ orders_registered.first.order.account.email}}</h6>
        <h6>شماره تماس خریدار :{{ orders_registered.first.order.account.phone}}</h6>
        <h6>{% trans 'Address' %}: {{ orders_registered.first.order.full_delivery_address }}</h6> 
        <h6>{% trans 'postCode' %}: {{ orders_registered.first.order.delivery_address_postcode }}</h6>

        {% for item in orders_registered %}
        <ul>
            <li><img style="width:100px; height:100px;" src="{{ item.variation.product.image.url }}"></li>
            <li>نام: {{ item.variation.product.name }}</li>
            <li>قیمت: {{ item.variation.product.price|custom_price_format   }} تومان</li>
            <li>رنگ: {{ item.variation.color }}</li>
            <li>سایز: {{ item.variation.size }}</li>
            <li>تعداد: {{ item.quantity }}</li>
        </ul>
        {% endfor %}
    {% else %}
        <p>{% trans 'No order items found.' %}</p>
    {% endif %}
</div>
