{% load static %}

{% block content %}
<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
    <html lang="fa">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link href="{% static 'asset/vendor/scss/reboot.css' %}" rel="stylesheet">        
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body style="direction:rtl">
        
       

<section class="container forms">
    <div class="form login">
        <div class="form-content">
           
            <p>ما ایمیلی برای تغییر رمز عبور شما برایتان ارسال کردیم, لطفاً به ایمیل خود رفته و اقدامات لازم را انجام دهید.</p>
            <p>چنانچه درایمیل های دریافتی خود مشاهده نکردید,  در قسمت spam خود را نیز ببینید.</p>
            <div class="form-link">
                <span>بازگشت به صفحه <a href="{% url 'signin' %}" >ورود </a></span>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>
{% endblock %}