{% extends 'base.html' %}

{% load static %}
{% block body %}
<div class="about">
<h3> حریم خصوصی </h3>


    <p>
        ما در این وب‌سایت به حفظ حریم خصوصی شما اهمیت می‌دهیم و تعهد داریم که از اطلاعات شما محافظت کنیم. این سیاست حریم خصوصی توضیح می‌دهد که چگونه اطلاعات شخصی شما را جمع‌آوری، استفاده و محافظت می‌کنیم.
    </p>
    
    <h4> اطلاعاتی که جمع‌آوری می‌کنیم </h4>
    <p>
        ما ممکن است از شما اطلاعات شخصی مانند نام، ایمیل، شماره تماس، و سایر اطلاعات مرتبط را هنگام ثبت‌نام، استفاده از خدمات ما یا شرکت در فعالیت‌های وب‌سایت درخواست کنیم.
    </p>

    <h4> استفاده از اطلاعات </h4>
    <p>
        ما از اطلاعات جمع‌آوری شده برای ارائه و بهبود خدمات، پشتیبانی کاربران، اطلاع‌رسانی در مورد به‌روزرسانی‌ها و پیشنهادات ویژه، و تحلیل نحوه استفاده از وب‌سایت استفاده می‌کنیم.
    </p>

    <h4> اشتراک‌گذاری اطلاعات </h4>
    <p>
        اطلاعات شخصی شما به هیچ عنوان به اشخاص ثالث فروخته یا اجاره داده نمی‌شود، مگر در مواردی که قانوناً الزام به اشتراک‌گذاری آنها باشد.
    </p>

    <h4> امنیت اطلاعات </h4>
    <p>
        ما تدابیر امنیتی مناسبی را به کار می‌گیریم تا از دسترسی غیرمجاز به اطلاعات شما جلوگیری کنیم. اما باید توجه داشته باشید که هیچ روش انتقال داده یا ذخیره‌سازی الکترونیکی به‌طور کامل امن نیست.
    </p>

    <h4> تغییرات در سیاست حریم خصوصی </h4>
    <p>
        ممکن است هر از گاهی سیاست حریم خصوصی ما تغییر کند. در این صورت، این تغییرات در همین صفحه منتشر می‌شود و ما شما را از آن مطلع خواهیم کرد.
    </p>

    <h4> تماس با ما </h4>
    <p>
        اگر سوالی در مورد سیاست حریم خصوصی ما دارید، لطفاً با ما تماس بگیرید.
    </p>
</div>
{% endblock %}
