{% load static %}
<a class="back-btn" href="product-section"  hx-get="{% url 'productssection'  %}" hx-target="#outerContainer"><img style="width:20px; height:20px; margin:20px 20px 0 0;" src="{% static 'images/back-icon.png' %}"></a>
<div class="container"  >
  <h4>لیست محصولات</h4>
  <p>  در صورت تایید کالاهای شما از سمت این شاپینگ می توانید آن ها را در فروشگاه خود مشاهده کنید</p>
  <ul class="product-list">
    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100" style="display:flex; justify-content: center;">
      {% for item in product_list %}
      
      <div class="box-li" >
        
        <div class="portfolio-wrap" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <a href="#" hx-push-url="true" hx-get="{% url 'product_details' product_pk=item.pk %}" hx-target="#outerContainer" hx-swap="InnerHTML">
          <h6>{{ item.name }}</h6>
          <h6>{{ item.productCode }}</h6>
          <img class="product-list-img" src="{{ item.image.url }}" class="img-fluid" alt="">
          
          
             
          
            </a>
            <form style="margin:0;" id="delete-form-{{ item.pk }}"
            hx-encoding="multipart/form-data"
            hx-target="#outerContainer"
            hx-post="{% url 'delete_product' product_pk=item.pk %}"
            hx-swap="outerHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% csrf_token %}
        <button style="border:none; background-color:white; color:#149ddd; margin-right:10px;" type="submit">حذف</button>
      </form>
        </div>
      
      </div>
    
      {% endfor %}
    </div>
  </ul>
</div>
<div id="outerContainer4"></div>


<script>
  // Listen for the HTMX event before it makes a request
  document.body.addEventListener('htmx:beforeRequest', function(event) {
    // Check if the request is coming from a form with ID starting with 'delete-form-'
    if (event.target && event.target.id.startsWith('delete-form-')) {
      // Display confirmation dialog
      if (!confirm('از حذف کردن کالا اطمینان دارید ؟')) {
        // If user cancels, prevent the request
        event.preventDefault();
      }
    }
  });
  </script>
