<div class="forms">
    <form class="inputs" hx-encoding='multipart/form-data' hx-post="{% url 'product_editvariation' product_pk=product.pk %}" hx-swap="outerHTML" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-trigger='submit'>
        {% csrf_token %}
        
        
        <fieldset>
            {{variation_form.id}}
            {{variation_form.product}}
            <label>سایز:{{ variation_form.size}}</lable> </br>
            <label>تعداد:{{variation_form.quantity}}</label>  </br>
            <label>رنگ:{{variation_form.color}} </label>  
        </fieldset>
        <button type="submit">Save Changes</button>
   
    </form>
</div>