{% load static %}
{% load i18n %}

<section id="portfolio"  >
    <div class="container" >

      <div class="section-title">
        <h2>{% trans 'Products' %}</h2>
        <p>{% trans 'Please introduce your products and see the list of your products and variations by clicking List Of Your Products' %}.</p>
      </div>
      <a hx-get="{% url 'products' %}" hx-target="#outerContainer" >
        <div class="btn-style" ><button>{% trans 'Create Your Products' %}</button></div></a> 
      </br>
      </br>
      
      <a hx-get="{% url 'products_list' %}" hx-target="#outerContainer" >
        <div class="btn-style" ><button>{% trans 'List Of Your Products' %}</button></div> 
      </a> 
      
      
    </div>
    
</section>    


<!-- Template Main JS File -->



