
{% extends 'base.html' %}

{% load static %}
{% block body %}
<div class="about">
<h3>شرایط و قوانین</h3>

<p dir:"rtl">

    <h4>مقدمه</h4> 
    به این‌شاپینگ خوش آمدید. با دسترسی یا استفاده از این پلتفرم، شما موافقت می‌کنید که به شرایط و ضوابط زیر پایبند  باشید. لطفاً قبل از استفاده از خدمات ما این شرایط را با دقت مطالعه کنید و اگر با این شرایط موافق نیستید، لطفاً از پلتفرم استفاده نکنید.
    <br>
    <br>

    <h4>شرح خدمات</h4>
    این‌شاپینگ بستری را فراهم می‌کند که کاربران می‌توانند محصولات را از آنلاین شاپ های  موجود در اینستاگرام خریداری کنند. هر فروشگاه دارای زیردامنه و پنل مدیریتی خود می باشد. پلتفرم مسئولیتی در قبال خرید و ارسال محصولات به کاربران ندارد.
    <br>
    <br>

    <h4>ثبت‌نام و حساب کاربری</h4> 
    کاربران باید برای استفاده از برخی ویژگی‌های پلتفرم حساب کاربری ایجاد کنند. شما مسئولیت حفظ اطلاعات حساب کاربری و رمز عبور خود را دارید. شما موظف هستید اطلاعات دقیق و کاملی در طی فرایند ثبت‌نام ارائه دهید و در صورت نیاز این اطلاعات را بروزرسانی کنید.
    <br>
    <br>

    <h4>استفاده از پلتفرم</h4> 
    شما موافقت می‌کنید که از پلتفرم تنها برای اهداف قانونی استفاده کنید.استفاده از پلتفرم برای نقض قوانین یا مقررات، تجاوز به حقوق دیگران یا انتقال هرگونه محتوای مضر یا مخل ممنوع می باشد.
    <br>
    <br>

    <h4>فروشگاه‌ها و محصولات</h4>  
    هر فروشگاه در این شاپینگ به صورت مستقل عمل می‌کند و تنها مسئول محصولات و خدمات خود می باشد. پلتفرم کنترلی بر کیفیت، ایمنی، قانونی بودن یا دقت محصولات لیست شده توسط آنلاین شاپ ها ندارد. هرگونه مشکل یا اختلاف در مورد خرید محصولات باید مستقیماً با فروشگاه مربوطه حل شود.
    <br>
    <br>

    <h4>سفارشات و پرداخت‌ها </h4> 
    کاربران می‌توانند سفارشات محصولات را از فروشگاه‌های مختلف ثبت کنند. هر سفارش باید به‌طور جداگانه تکمیل شود و کاربران نمی‌توانند محصولات از فروشگاه‌های مختلف را در یک سفارش ترکیب کنند. 
    <br>
    <br>

    <h4>حمل و نقل و تحویل </h4>  
    حمل و نقل و تحویل محصولات توسط آنلاین شاپ مدیریت می‌شود.پلتفرم مسئولیتی در قبال حمل و نقل یا تحویل ندارد. هرگونه سوال یا نگرانی در مورد حمل و نقل و تحویل باید به فروشگاه مربوطه ارجاع داده شود.
    <br>
    <br>

    <h4>بازگشت و بازپرداخت </h4> 
    هر فروشگاه دارای سیاست بازگشت و بازپرداخت خود می باشد. کاربران باید قبل از خرید سیاست فروشگاه را مرور کنند.هرگونه مشکل در مورد بازگشت و بازپرداخت باید مستقیماً با فروشگاه مربوطه حل شود.
    <br>
    <br>

    <h4>محدودیت مسئولیت </h4>  
    این‌شاپینگ مسئول هیچ‌گونه خسارات مستقیم، غیرمستقیم، تصادفی، خاص یا متعاقب ناشی و یا در ارتباط با استفاده از پلتفرم نخواهد بود.
    <br>
    <br>

    <h4>مالکیت </h4> 
    تمام محتوای پلتفرم، از جمله متن، گرافیک، لوگو و نرم‌افزار، متعلق به این‌شاپینگ یا مجوزدهندگان آن است و تحت قوانین مالکیت فکری محافظت می‌شود. شما نمی‌توانید بدون اجازه قبلی ما محتوای پلتفرم را کپی، توزیع و یا تغییر دهید.
    <br>
    <br>

    <h4>تغییرات شرایط </h4>
    ما حق داریم که این شرایط را در هر زمانی تغییر دهیم. هرگونه تغییر بلافاصله پس از اتخاذ در پلتفرم بروزرسانی خواهد شد. استفاده مستمر شما از پلتفرم پس از ارسال تغییرات به منزله پذیرش این تغییرات است.
    <br>
    <br>

    <h4>تماس با ما </h4> 
    اگر سوال یا نگرانی در مورد این شرایط دارید، لطفاً با ما تماس بگیرید. <a href="{% url 'contactus' %}" >تماس با ما</a>.
    
    
</p>    
</div>
{%endblock%}